NEXT_PUBLIC_APIKEY=""
NEXT_PUBLIC_APPID=""
NEXT_PUBLIC_AUTHDOMAIN=""
NEXT_PUBLIC_MESSAGINGSENDERID=""
NEXT_PUBLIC_STORAGEBUCKET=""
NEXT_PUBLIC_PROJECTID=""
NEXT_PUBLIC_PUBLISHABLE_KEY=""
STRIPE_PUBLISHABLE_KEY=""
STRIPE_SECRET_KEY=""
NEXT_PUBLIC_STRIPE_TEST_KEY=""
STRIPE_TEST_SECRET=""
NEXT_PUBLIC_MONTHLY_PRICE_ID=""
NEXT_PUBLIC_YEARLY_PRICE_ID=""
STRIPE_WEBHOOK_SECRET=""
STRIPE_WEBHOOK_LOCAL_SECRET=""
NEXT_PUBLIC_SENDGRID_API_KEY=""
NEXT_PUBLIC_SENDGRID_FROM_EMAIL=""
NEXT_PUBLIC_MONTHLY_PRICE=""
NEXT_PUBLIC_YEARLY_PRICE=""
NEXT_PUBLIC_BASE_URL=""
NEXT_PUBLIC_STRIPE_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""